/*variables*/
/*fonts*/
@font-face {
  font-family: "Athelas";
  src: url("assets/fonts/Athelas/Athelas-Bold.woff") format("woff"), url("assets/fonts/Athelas/Athelas-BoldItalic.woff") format("woff"), url("assets/fonts/Athelas/Athelas-Italic.woff") format("woff"), url("assets/fonts/Athelas/Athelas-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*main styles*/
* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", arial;
  font-style: normal;
}

body {
  background-color: #f6f6f5;
}

a {
  text-decoration: none;
  color: white;
}

input {
  margin: 5px auto;
  height: 50px;
}

/*header*/
.header {
  width: 100vw;
  height: 100px;
  background-color: #09243c;
  display: flex;
  flex-direction: row;
}

.header__details {
  background-color: rgba(2, 14, 36, 0.9);
  display: flex;
  flex-direction: row;
  width: 350px;
}

.header__details__logo {
  width: 77px;
  margin-left: 10px;
  background-color: red;
}

.header__details__infos {
  color: #ffcf03;
  margin: 40px auto auto 0;
  font-size: 0.8em;
  font-weight: bold;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
}

.header__menu a {
  color: white;
  margin: auto 50px auto auto;
  height: 20px;
  font-weight: bold;
  font-family: "Roboto";
}

.header__user {
  margin: auto 30px auto auto;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1r;
  grid-template-areas: "pic  infos" "pic title";
}

.header__user img {
  grid-area: pic;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto 10px auto auto;
}

.header__user .infos {
  color: white;
  width: 100%;
  grid-area: infos;
}

.header__user .title {
  color: yellow;
  grid-area: title;
}

.header__support-details {
  width: 190px;
  background-color: #ffcf03;
  border-radius: 30px;
  margin: auto 50px auto 30px;
  padding: 9.3px 25.5px 7.5px 13.8px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  /*menu*/
  /*main*/
}

.container .menu {
  width: 350px;
  height: 600px;
  background-color: #09243c;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.container .menu__link {
  margin: 15px auto 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.container .menu__link .bar {
  width: 5px;
  background-color: #09243c;
  height: 30px;
  margin-right: 10px;
}

.container .menu__link .icon {
  width: 30px;
  height: 30px;
  color: white;
  margin-right: 10px;
}

.container .menu__link .title {
  color: white;
}

.container .menu a:hover .bar {
  background-color: #ffcf03;
}

.container .menu a:hover .title {
  color: #ffcf03;
}

.container .menu .pin-menu {
  color: white;
}

.container .menu :nth-child(6) {
  margin: 200px auto 0 auto;
}

.container .menu :nth-child(7) {
  margin: auto;
}

.container .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 30px;
  /*section*/
  /*form*/
}

.container .main__menu {
  display: flex;
  flex-direction: row;
  margin: 20px auto 0 10px;
}

.container .main__menu a {
  margin: auto 10px auto 0;
  color: rgba(9, 36, 60, 0.5);
  font-family: "Roboto Regular";
}

.container .main__title {
  font-family: "Athelas";
  font-size: 40px;
  font-style: italic;
  margin: 50px auto 50px 10px;
}

.container .main__section-type {
  margin: 10px auto 10px 20px;
  font-family: BebasNeue;
  font-weight: bold;
  font-size: 16px;
}

.container .main__section {
  margin: 0 auto auto 10px;
  width: 70vw;
  height: 100px;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "relative-name relative-name edit" "birth-date phone adress";
}

.container .main__section__name {
  grid-area: relative-name;
  margin: auto 10px;
  font-family: "Athelas";
  font-style: italic;
}

.container .main__section__edit {
  grid-area: edit;
  margin: auto 10px auto auto;
  background-color: white;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.container .main__section__edit img {
  margin-right: 5px;
}

.container .main__section__edit p {
  font-family: "Bebas Neue";
}

.container .main__section__birth-date {
  grid-area: birth-date;
  display: table;
  margin: auto auto 0 0;
}

.container .main__section__birth-date img {
  display: table-cell;
  vertical-align: middle;
}

.container .main__section__birth-date p {
  display: table-cell;
  vertical-align: middle;
  font-family: "Roboto Regular";
}

.container .main__section__phone {
  grid-area: phone;
  display: table;
  margin: auto auto 0 auto;
}

.container .main__section__phone img {
  display: table-cell;
  vertical-align: middle;
}

.container .main__section__phone p {
  display: table-cell;
  vertical-align: middle;
  font-family: "Roboto Regular";
}

.container .main__section__adress {
  grid-area: adress;
  display: table;
  margin: auto auto 0 0;
}

.container .main__section__adress img {
  display: table-cell;
  vertical-align: middle;
}

.container .main__section__adress p {
  display: table-cell;
  vertical-align: middle;
  font-family: "Roboto Regular";
}

.container .main__edit {
  margin: 30px auto 10px 10px;
  display: table;
  cursor: pointer;
}

.container .main__edit img {
  display: table-cell;
  vertical-align: middle;
  margin-right: 7px;
}

.container .main__edit p {
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
  font-family: "Bebas Neue";
}

.container .main .main_form {
  margin: 100px auto auto 10px;
  width: 600px;
  display: none;
}

.container .main .main_form .form {
  margin: 0;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 0.7fr 0.7fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "text text" "first-name last-name" "gender gender" "relative-type relative-type" "birth-date birth-date" "country zip-code" "adress city" "email telephone" "submit-btn submit-btn";
}

.container .main .main_form .form__text {
  grid-area: text;
  font-weight: bold;
  color: black;
  font-family: "Bebas Neue";
}

.container .main .main_form .form__first-name {
  grid-area: first-name;
}

.container .main .main_form .form__first-name input {
  width: 300px;
  margin: 0;
}

.container .main .main_form .form__last-name {
  grid-area: last-name;
  margin: auto 10px;
}

.container .main .main_form .form__last-name input {
  width: 300px;
  margin: 0;
}

.container .main .main_form .form__gender {
  grid-area: gender;
}

.container .main .main_form .form__relative-type {
  grid-area: relative-type;
}

.container .main .main_form .form__relative-type select {
  width: 250px;
  height: 50px;
  background-color: white;
}

.container .main .main_form .form__birth-date {
  grid-area: birth-date;
}

.container .main .main_form .form__birth-date input {
  width: 250px;
}

.container .main .main_form .form__country {
  grid-area: country;
}

.container .main .main_form .form__country select {
  width: 220px;
  height: 50px;
  margin: auto 0 auto auto;
}

.container .main .main_form .form__zip-code {
  grid-area: zip-code;
}

.container .main .main_form .form__zip-code input {
  width: 200px;
  margin: auto 10px;
}

.container .main .main_form .form__adress {
  grid-area: adress;
}

.container .main .main_form .form__adress input {
  height: 50px;
  width: 400px;
  margin-right: 10px;
}

.container .main .main_form .form__city {
  grid-area: city;
}

.container .main .main_form .form__email {
  grid-area: email;
}

.container .main .main_form .form__telephone {
  grid-area: telephone;
}

.container .main .main_form .form__submit-btn {
  grid-area: submit-btn;
}

.container .main .main_form .form__submit-btn input {
  background-color: yellow;
  font-weight: bold;
}

/*media queries for tablets 1024px */
@media screen and (max-width: 1024px) {
  .header__details {
    width: 300px;
  }
  .header__details__infos {
    margin: auto;
  }
  .header__menu {
    margin: auto;
  }
  .header__menu a {
    margin: auto 20px auto auto;
  }
  .header__support-details {
    display: none;
  }
  .header__user img {
    height: 60px;
    width: 60px;
  }
  .container .menu {
    width: 300px;
  }
  .container .main__section {
    margin: 0;
    height: 80px;
    width: 60vw;
    display: flex;
    flex-direction: row;
  }
  .container .main__section__name {
    margin-left: 10px;
  }
  .container .main__section__edit {
    margin-right: 10px;
  }
  .container .main__section__birth-date {
    display: none;
  }
  .container .main__section__phone {
    display: none;
  }
  .container .main__section__adress {
    display: none;
  }
  .container .main .main_form .form__adress input {
    width: 250px;
  }
}

/*hamburger menu media queries*/
@media screen and (min-width: 769px) {
  .ham_icon {
    display: none;
  }
}

/*media queries for tablets 768px */
@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__user .infos,
  .header__user .title {
    display: none;
  }
  .container .menu {
    display: none;
  }
  .container .main .menu-mobile {
    display: table;
    width: 95vw;
    margin: auto 10px auto auto;
  }
  .container .main .menu-mobile .ham_icon {
    margin: 20px auto auto 10px;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
  }
  .container .main .menu-mobile .main__menu {
    display: none;
    flex-direction: column;
    width: auto;
  }
  .container .main .menu-mobile h2 {
    margin: 20px auto auto 10px;
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
  }
  .container .main__section {
    width: 90vw;
  }
  .container .main .main_form {
    display: none;
    margin: 0;
  }
  .container .main .main_form .form__first-name input {
    width: 250px;
  }
  .container .main .main_form .form__last-name input {
    width: 250px;
  }
  .container .main .main_form .form__relative-type select {
    width: 150px;
  }
  .container .main .main_form .form__birth-date input {
    width: 150px;
  }
  .container .main .main_form .form__country select {
    width: 150px;
  }
  .container .main .main_form .form__zip-code input {
    width: 150px;
  }
  .container .main .main_form .form__adress input {
    width: 200px;
  }
}

/*media queries for phones*/
@media screen and (max-width: 576px) {
  .header {
    height: 100px;
  }
  .header__details {
    width: 50vw;
  }
  .header__details__infos {
    margin: auto;
    font-size: 0.6em;
  }
  .header__menu {
    display: none;
  }
  .header__user {
    display: flex;
  }
  .header__user img {
    margin-right: 10px;
  }
  .header__user .infos,
  .header__user .title {
    display: none;
  }
  .header__support-details {
    display: none;
  }
  .container {
    flex-direction: column;
  }
  .container .menu {
    display: none;
  }
  .container .main {
    margin: 0;
  }
  .container .main__menu {
    display: none;
  }
  .container .main__section-type {
    margin: 30px auto 10px 0;
  }
  .container .main__section {
    margin: 0;
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  .container .main__section__name {
    margin-left: 10px;
  }
  .container .main__section__edit {
    margin-right: 10px;
  }
  .container .main__section__birth-date {
    display: none;
  }
  .container .main__section__phone {
    display: none;
  }
  .container .main__section__adress {
    display: none;
  }
  .container .main .main_form {
    width: auto;
    margin-top: 50px;
  }
  .container .main .main_form .form {
    margin: 0;
  }
  .container .main .main_form .form__first-name input {
    width: 150px;
  }
  .container .main .main_form .form__last-name input {
    width: 150px;
  }
  .container .main .main_form .form__relative-type select {
    width: 150px;
  }
  .container .main .main_form .form__birth-date input {
    width: 150px;
  }
  .container .main .main_form .form__country select {
    width: 150px;
  }
  .container .main .main_form .form__zip-code input {
    width: 150px;
  }
  .container .main .main_form .form__adress input {
    width: 150px;
  }
}
