* {
  margin: 0;
  padding: 0;
  font-family: "roboto";
}

body {
  background-color: #f6f6f5;
}

a {
  text-decoration: none;
  color: black;
}

input {
  margin: 5px auto;
  height: 50px;
}

.header {
  height: 100px;
  background-color: #09243c;
  display: flex;
  flex-direction: row;
}

.header__details {
  background-color: rgba(2, 14, 36, 0.9);
  display: flex;
  flex-direction: row;
  width: 350px;
}

.header__details__logo {
  width: 77px;
  margin-left: 10px;
  background-color: red;
}

.header__details__infos {
  color: #ffcf03;
  margin: 40px auto auto 0;
  font-size: 0.8em;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
}

.header__menu a {
  color: white;
  margin: auto 50px auto auto;
}

.header__user {
  margin: auto 70px;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1f;
  grid-template-rows: 1fr 1r;
  grid-template-areas: "pic  infos" "pic title";
}

.header__user .infos {
  color: white;
}

.header__user .title {
  color: yellow;
}

.header__support-details {
  width: 200px;
  background-color: #ffcf03;
  border-radius: 30px;
  margin: auto 50px auto auto;
  padding: 9.3px 25.5px 7.5px 13.8px;
  border-radius: 25px;
}

.container {
  display: flex;
  flex-direction: row;
}

.container .menu {
  width: 350px;
  height: 600px;
  background-color: #09243c;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.container .menu__link {
  margin: 15px auto 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.container .menu__link .bar {
  width: 5px;
  background-color: #09243c;
  height: 30px;
  margin-right: 10px;
}

.container .menu__link .icon {
  width: 30px;
  height: 30px;
  color: white;
  margin-right: 10px;
}

.container .menu__link .title {
  color: white;
  font-family: BebasNeue;
}

.container .menu a:hover .bar {
  background-color: #ffcf03;
}

.container .menu a:hover .title {
  color: #ffcf03;
}

.container .menu .pin-menu {
  color: white;
  margin: auto auto 30px auto;
}

.container .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 30px;
}

.container .main__menu {
  display: flex;
  flex-direction: row;
  margin: 20px auto 0 10px;
  width: fit-content;
}

.container .main__menu a {
  margin: auto 10px auto auto;
  color: rgba(9, 36, 60, 0.5);
}

.container .main__title {
  font-weight: bold;
  font-family: Athelas;
  font-size: 40px;
  font-style: italic;
  margin: auto auto 30px 10px;
}

.container .main__section-type {
  margin: 50px auto 10px 20px;
  font-family: BebasNeue;
  font-weight: bold;
  font-size: 16px;
}

.container .main__section {
  margin: 0 auto auto 10px;
  width: 70vw;
  height: 100px;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "relative-name relative-name edit" "birth-date phone adress";
}

.container .main__section__name {
  grid-area: relative-name;
  margin: auto 10px;
}

.container .main__section__edit {
  grid-area: edit;
  margin: auto 10px auto auto;
}

.container .main__section__birth-date {
  grid-area: birth-date;
  display: table;
}

.container .main__section__birth-date img {
  display: table-cell;
  vertical-align: middle;
}

.container .main__section__phone {
  grid-area: phone;
  display: table;
  margin: auto 0;
}

.container .main__section__phone img {
  display: table-cell;
  vertical-align: middle;
}

.container .main__section__adress {
  grid-area: adress;
  display: table;
}

.container .main__section__adress img {
  display: table-cell;
  vertical-align: middle;
}

.container .main__edit {
  margin: 30px auto 10px 10px;
  display: table;
}

.container .main__edit img {
  display: table-cell;
  vertical-align: middle;
  margin-right: 7px;
}

.container .main__edit p {
  display: table-cell;
  vertical-align: middle;
}

.container .main .form {
  margin: 100px auto auto 10px;
  font-family: roboto;
  color: rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "text text" "first-name last-name" "gender gender" "relative-type relative-type" "birth-date birth-date" "country zip-code" "adress city" "email telephone" "submit-btn submit-btn";
}

.container .main .form__text {
  grid-area: text;
  font-weight: bold;
  color: black;
}

.container .main .form__first-name {
  grid-area: first-name;
}

.container .main .form__first-name input {
  width: 300px;
}

.container .main .form__last-name {
  grid-area: last-name;
}

.container .main .form__last-name input {
  width: 300px;
}

.container .main .form__gender {
  grid-area: gender;
}

.container .main .form__relative-type {
  grid-area: relative-type;
}

.container .main .form__relative-type select {
  width: 250px;
  height: 50px;
  background-color: white;
}

.container .main .form__birth-date {
  grid-area: birth-date;
}

.container .main .form__birth-date input {
  width: 250px;
}

.container .main .form__country {
  grid-area: country;
}

.container .main .form__country select {
  width: 220px;
  height: 50px;
}

.container .main .form__zip-code {
  grid-area: zip-code;
}

.container .main .form__adress {
  grid-area: adress;
}

.container .main .form__adress select {
  height: 50px;
  width: 250px;
}

.container .main .form__city {
  grid-area: city;
}

.container .main .form__email {
  grid-area: email;
}

.container .main .form__telephone {
  grid-area: telephone;
}

.container .main .form__submit-btn {
  grid-area: submit-btn;
}

.container .main .form__submit-btn input {
  background-color: yellow;
  font-weight: bold;
}
